html, body {height:100%;}
html {display:table; width:100%;}
body {display:table-cell; text-align:center; vertical-align:middle;}
table {
  margin: 1rem;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: whitesmoke;
}